/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--bg-color) url("../images/bg-desktop.svg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.header .logo {
  margin: 5rem 0 5.5rem 7rem;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main .illustration {
  width: 70rem;
  margin-left: 5rem;
}

.main .infos {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 6rem;
}

.main .infos h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  width: 65%;
}

.main .infos p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.main .infos a {
  background-color: #fff;
  color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 17rem;
  padding: 1.2rem 0;
  border-radius: 2.5rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0.5rem 1.5rem;
}

.social ul {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  margin: 3rem 3rem 2rem 0;
}

.social i {
  margin: 1rem;
  width: 3.8rem;
  padding: 1rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}

/* Hover effect */

@media (hover: hover) {
  .infos a:hover {
    color: var(--hover-color);
    transition: 0.3s ease-in-out;
  }

  .social i:hover {
    border: 1px solid var(--hover-color);
    color: var(--hover-color);
    transition: 0.3s ease-in-out;
  }
}

/* Responsive */

@media (max-width: 768px) {
  .header .logo {
    width: 20rem;
    margin: 4rem 0 5rem 5rem;
  }

  .main {
    display: flex;
    flex-direction: column;
  }

  .main .illustration {
    width: 30rem;
    margin: 0 auto;
  }

  .main .infos {
    text-align: center;
    font-size: 1.8rem;
  }

  .main .infos h1 {
    width: 100%;
  }

  .main .infos a {
    align-self: center;
    width: 20rem;
  }

  .social ul {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 0 5rem 0;
  }
}
